    * {
        box-sizing: border-box;
    }
    html, body{
        height: 100%;
        padding: 0;
        margin: 0;
    }

    body {
        background-image: url("/images/banner1.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        max-width: 100%;
        padding-top: 5px;
        padding-bottom: 0;
        height: auto;
    }
    /* Header section */
    .navbar {
        display: flex;
        width: 100%;
        height: 20px;
        text-decoration: none;
        list-style: none;
        padding-right: 35px;
        margin-top: 50px;
        font-family: "Trebuchet MS";
        top: 0;
    }

    .navbar li a {
        margin: 0;
        justify-content: flex-end;
        align-items: center;
        font-size: 21px;
        text-decoration: none;
        cursor: pointer;
        padding: 15px;
        color: rgb(9, 9, 75);
        font-weight: 650;
        font-family: 'Gill Sans MT';
    }
    /* Navigation section */
    header {
        display: flex;
        justify-content: space-between;
        border-radius: 18px;
        top: 0;
        position: sticky;
    }

    .navbar li a:hover {
        background-color: #152ea8;
        color: white;
        padding: 12px;
        margin: 0;
        border-bottom: 3px solid rgb(131, 73, 6);
    }

    .navbar li a active {
        background-color: #422bc4;
        color: white;
        border-radius: 10px;
        padding: 12px;
        margin: 0;
    }
    /* Business Logo */
    logo {
        cursor: pointer;
        margin-right: auto;
    }

    p,
    h,
    ul,
    li {
        color: white;
        font-size: 20px;
    }
    .heading{
        font-style: Century;
    }
    .hero-div{
        margin-left: 30px;
    }

    /* Address in About us */
        .address{
        background-color: #367445;
    }

    /* Services images */
    .img1 {
        border-radius: 8px;
        width: 390px;
        height: 260px;
        margin: 8px;
    }

    /* Body styling */
    /* p,
    ul,
    li {
        color: white;
        /* font-size: 21px; */
    
        /* line-height: 1.2;
    } */ */

    /* Services page images */
    .container {
        display: grid;
        grid-template-columns: 4;
        column-gap: 18px;
        justify-content: center;
    }
    p {
        color: white;
        font-size: 28px;
        padding-left: 30px;
        font-family: "Gill Sans MT";
    }
    .form-section{
        justify-items: center;
    }
    .form-section div{
        align-content: center;
    }

    /* Submit button - CONTACT US PAGE */
    .submit-but{
        background-color: rgb(253, 154, 40);
        border-radius: 12px;
        padding: 8px;
        font-family: "Berlin Sans FB";
        font-size: 30px;
        font-weight: 600;
        width: 120px;
        height: 50px;
        color: rgb(9, 9, 75);
        justify-content: center;
    }

    /* Home page div1 */
    .display{
        display: grid;
        grid-template-columns: auto auto auto;
        align-items: center;
        margin-left: 30px;
    }
    .display div{
        background-color: rgb(3, 11, 87);
        height: 400px;
        padding: 50px;
        border-radius: 5px;
        margin: 10px;
    }
    @media only screen and (max-width: 600px) {
        .display{
            width: 48%;
            margin: 6px 0;
        }
    }
    @media only screen and (max-width: 600px) {
        .display{
            width: 100%;
            margin: 6px 0;
        }
    }
    
    /* HOME PAGE button */
    .button{
        border-radius: 20px;
        background-color: rgb(253, 154, 40);
        color: rgb(9, 9, 75);
        justify-content: center;
        padding: 10px;
        margin-left: 40px;
        font-size: 27px;
        font-family: "Berlin Sans FB";
        cursor: pointer;
        transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
    }

    .button:hover{
        background-color: #ffaf02;
        box-shadow: 0 0 13px 5px rgb(255, 166, 0);
    }
    .pics{
        border-radius: 5px;
        margin-left: 40px;
    }

    /* Home page div2 */
    .projects{
        display: grid;
        grid-template-columns: auto;
        column-gap: 1px;
        width: 100%;
        height: auto;
        border-radius: 7px;
        padding-inline-start: 60px;
        padding-inline-end: 100px;
        margin-left: 70px;
        /* outline: 1px solid rgb(224, 164, 51); */
    }
    .projects div{
        width: 90%;
        padding: 0;
        height: 350px;
        justify-content: center;
    }
    @media only screen and (max-width: 600px) {
        .projects{
            width: 48%;
            margin: 6px 0;
        }
    }
    @media only screen and (max-width: 600px) {
        .projects{
            width: 100%;
            margin: 6px 0;
        }
    }

    /* Home page project process */
    .image1{
        float: right;
        margin-left: 5px;
        padding-top: 20px;
        border-radius: 10px;
    }
    .image2{
        float: left;
        margin-right: 5px;
        padding-top: 20px;
        border-radius: 10px;
    }
    .packages{
        background-color: #7a3bdfb7;
        width: 100%;
        height: 130px;
        border-radius: 10px;
        margin-left: 20px;
    }
    input{
        width: 110%;
        height: 45px;
        justify-items: center;
        border-radius: 8px;
        padding: 10px;
    }
    textarea{
        box-sizing: border-box;
        height: 150px;
        width: 350px;
        border-radius: 8px;
        padding: 20px;
    }

    /* ABOUT US PAGE - Meet the team */
    .team{
        background-color: #7e45da91;
        height: 700px;
        width: 95%;
        margin-left: 45px;
        border-radius: 8px;
        padding-left: 20px;
        display: inline-block;
    }
    .co-team{
        width: 250px;
        height: 310px;
        border: 1px solid black;
        background-color: #ffaf02c2;
        padding-bottom: 40px;
    }
    .co-img{
        width: 248px;
        height: 240px;
        margin-bottom: 0;
    }

    /* Footer section */
    .footer-logo{
        padding-top: 20px;
        padding-left: 15px;
    }
    .footer{
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        grid-template-rows: auto;
        background-color: rgb(253, 154, 40);
        width: 100%;
        height: 300px;
        column-rule: 7px solid black;
        margin-top: 100px;
        padding-bottom: 0;
    }
    .footer-icons{
        line-height: 0.5;
    }