body{
  background-image: url("purple1.jpg");
  height: 100%;
  margin: 0;
}
.container {
  display: flex;
  text-decoration: none;
  justify-content: space-between;
}
.navlogo {
  justify-content: flex-start;
}
.navcontent justify-content-end {
  display: flex;
}
.nav-item {
  text-decoration: none;
  font-size: 23px;
}
.navbar {
  background-color: aliceblue;
  height: 80px;
}

.navbar-brand {
  font-weight: 500;
  color: navy;
  font-size: 25px;
  transition: o.3s color;
}

.login-Button {
  background-color: rgb(68, 158, 68);
  color: #fff;
  font-size: 14px;
  padding: 8px;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.3s;
}

.login-button:hover {
  background-color: #00b383;
}

.nav-link {
  color: black;
  font-weight: 500;
  position: relative;
}

.nav-link:hover,
.nav-link.active {
  color: green;
}

@media (min-width: 991) {
  .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #00b383;
    visibility: hidden;
    transition: 0.3s ease-in-out;
  }

  .nav-link:hover:before,
  .nav-link.active::before {
    width: 100%;
    visibility: visible;
  }
}

.hero-section {
  background-color: #111a6ff5;
  padding: 5rem 0;
  justify-content: center;
}

.hero-title {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  color: rgb(255, 255, 255);
}

.hero-description {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #ffc01c;
}

.hero-image {
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

@media (max-width: 767.98px) {
  .hero-title {
    font-size: 2.5rem;
  }

  .hero-description {
    font-size: 1rem;
  }
}
.rounded-circle{
  clip-path: circle(100%);
  clip-path: circle(100% at right);
  float: left;
  shape-outside: circle(48%);
  margin-right: 20px;
}
.col-sm-9{
  background-image: url('icons/educ1.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  /* width: 150px;
  height: 320px; */
  opacity: 10%;
}
